.index-main {
  background-color: #000000;
  display: flex;
  justify-content: center; }
  .index-main .foto-main {
    width: 95vw;
    height: 50vh;
    display: flex;
    justify-content: center; }
    .index-main .foto-main .img-main {
      height: 50vh;
      width: 90vw; }

* {
  background-color: #000000; }

a {
  text-decoration: none;
  color: #a5a5a5; }

header {
  background-color: #000000;
  margin: 2.5vh 5vw; }
  header .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    header .header .logo {
      width: 35vw;
      color: #F25D61;
      font-family: 'Lumanosimo', cursive;
      font-size: 48px; }
    header .header .navbar-top {
      width: 65vw;
      padding: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center; }
      header .header .navbar-top .nav-item {
        font-size: 32px; }
        header .header .navbar-top .nav-item .nav-link {
          text-decoration: none;
          color: #a5a5a5;
          transition: all 1.5s; }
          header .header .navbar-top .nav-item .nav-link:hover {
            color: #F25D61;
            font-size: 48px; }

footer {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  footer .navbar-footer {
    width: 30vw;
    display: flex;
    justify-content: center; }
    footer .navbar-footer .navbar-bottom {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0px; }
      footer .navbar-footer .navbar-bottom .li-footer {
        margin-bottom: 2vh;
        width: 100%;
        font-size: 1.5rem;
        text-align: center; }
  footer .logo-footer {
    display: flex;
    justify-content: center;
    width: 30vw; }
    footer .logo-footer .text-logo-footer {
      color: #F25D61;
      font-family: 'Lumanosimo', cursive, bold;
      font-size: 3rem; }
  footer .p-footer {
    width: 30vw;
    color: #a5a5a5;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .p-footer .text_footer {
      text-align: center; }
