.index-main{
    background-color: $myBlack;
    display: flex;
    justify-content: center;
    .foto-main{
        width: 95vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        .img-main{
            height: 50vh;
            width: 90vw;
        }
    }
}

